#generate-button {
  margin-top: 20px;
  background-color: burlywood;
  margin-bottom: 30px;
}
/* rgb(0, 238, 255) */

#generate-page-text {
  margin-top: 20px;
}

#generated-content-card {
  text-align: center;
  padding: 2%;
  margin-top: 20px;
}

body {
  background-image: url(./images/backgroundpaper.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

#homepage-header {
  font-size: 24px;
  margin-top: 20px;
}

#generate-page-header {
  font-size: 24px;
  margin-top: 20px;
}

#generate-page {
  margin-top: 20px;
}

#generate-page-image {
  max-width: 300px;
}

.column {
  padding: 5px;
}

#image-container {
  max-height: 100%;
  max-width: 100%;
}
